################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SafeBySimplify/.vs/SafeBySimplify/v14/.suo
