################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SafeBySimplify/.vs/SafeBySimplify/v14/.suo
/SafeBySimplify/SafeBySimplify/bin/
/SafeBySimplify/SafeBySimplify/obj/
/SafeBySimplify/SafeUiLib/bin/
/SafeBySimplify/SafeUiLib/obj/
/SafeBySimplify/SafeViewModel/bin/
/SafeBySimplify/SafeViewModel/obj/
