################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SafeBySimplify/.vs/SafeBySimplify/v14/.suo
/SafeBySimplify/SafeBySimplify/bin/
/SafeBySimplify/SafeBySimplify/obj/
/SafeBySimplify/SafeUiLib/bin/
/SafeBySimplify/SafeUiLib/obj/
/SafeBySimplify/SafeViewModel/bin/
/SafeBySimplify/SafeViewModel/obj/
/SafeBySimplify/SafeModel/bin/
/SafeBySimplify/SafeModel/obj/
/SafeBySimplify/SafeViewModelTests/obj/
/SafeBySimplify/SafeViewModelTests/bin/
/SafeBySimplify/SafeBySimplify.sln.DotSettings
/SafeBySimplify/SafeModelTests/bin/
/SafeBySimplify/SafeModelTests/obj/
/.vs/SafeBySimplify/v15/.suo
/.vs
/SafeBySimplify/.vs/SafeBySimplify/v15
/SafeBySimplify/SimplifyUiLibrary/obj
